<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Smart Ass: Sample 1</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>

  <div ng-controller="View1Ctrl as view1">
      <div>
          <form ng-submit="view1.post()">
              <h2>Enter a new message:</h2>
              <input ng-model="view1.postContent"/>
              <button type="submit">Post It</button>
          </form>
      </div>
      <div ng-repeat="message in view1.messages">
          {{message.content}}
      </div>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="event_store/event-store.js"></script>
  <script src="view1/view1.js"></script>
</body>
</html>
